<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <%- include('../partials/nav-bar') %>

        <div class="container">
            <br>
            <h1 class="text-center">My post</h1>
            <div class="d-flex justify-content-end">
                <a href="/blog/newpost" class="btn btn-success">Newpost</a>
            </div>
            <br>
            <div class="row">
                <% blog.forEach(blog=> { %>
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= blog.title %>
                                </h5>
                                <p class="card-text"><%- blog.body.substring(0, 100) %>...</p>
                                <p class="card-text"><small class="text-muted">เผยแพร่เมื่อ <%= blog.datePosted %>
                                            </small></p>
                                <div class="d-flex">
                                    <a href="/blog/<%= blog._id %>" class="btn btn-primary">อ่านเพิ่มเติม</a>
                                    <!-- ลิงก์หรือปุ่มสำหรับแก้ไขผู้ใช้ -->
                                    <form action="/blog/preeditpost/<%= blog._id %>" method="post">
                                        <button type="submit" class="btn btn-warning mx-1">Edit</button>
                                    </form>
                                    <!-- ลิงก์หรือปุ่มสำหรับลบผู้ใช้ -->
                                    <form action="/blog/deletepost/<%= blog._id %>" method="post">
                                        <button type="submit" class="btn btn-danger mx-1">Delete</button>
                                    </form>
                                </div>
                               
                            </div>
                        </div>
                    </div>

                    <% }); %>
            </div>
        </div>


        <%- include('../partials/footer') %>

</body>

</html>