<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <%- include('../partials/nav-bar') %>
    <div class="container">
        <br>
        <h1 class="text-center">
            <%= blog.title %>
        </h1>
        <br>
        <div><%- blog.body %></div>
        <% if (blog.datePosted) { %>
            <p class="card-text"><small class="text-muted">เผยแพร่เมื่อ <%= blog.datePosted.toISOString().substring(0, 10) %> เวลา <%= blog.datePosted.toISOString().substring(11, 19) %></small></p>
        <% } %>
    </div>
    
        <%- include('../partials/footer') %>

</body>

</html>